<!DOCTYPE html>
<html>
<head>
    <title>Online Doctor's Advice</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <h2>Enrer details of you for  Advice</h2>
    <form method="POST" action="/submit">
        Name: <input type="text" name="name" required><br><br>
        Age: <input type="number" name="age" required><br><br>
        Symptoms:<br>
        <textarea name="symptoms" rows="5" cols="40" required></textarea><br><br>
        <button type="submit">Get Advice</button>
    </form>
</body>
</html>
